 .Addtodo {
    padding: 16px 0;
    font-size: 14px;
  }
  
  .Addtodo .checkbox {
    margin: 0 0 0 20px;
    float: right;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #aaa;
    appearance: none;
    cursor: pointer;
  }
  
  .Addtodo .checkbox:checked {
    background-color: #50e3a4;
    border: 2px solid #30a572;
  }
  
  .checked {
    color: #bbb;
  }

  .todolistsrcoll{
    overflow-y: scroll;
    max-height: 320px;
  }

  ::-webkit-scrollbar{
    display: none;
  }